*{
    font-family: 'Courier New', Courier, monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1{
    color: green;
    font-size: 50px;
}
h6{
    font-size: 60px;
}
p{
    font-size: 18px;
    
    color: blue ;
}
.links{
    font-size: 19px;
}
h2{
    color: red;
}
h3{
    color: blue;
}
h6{
    color: green;

}

.tijger3box{
    border: 10px solid #000;
    float: left;
}

.tijger3box img{
    height: 375px;
    width: 300px;
    padding: 125px;
    border: 10px;
    color: 0ff;
}

.tijger3text{
    float: right;
    color: green;
}

.tekstO{
    float: left;
    padding-top: 10px;
}
.Tijgerzin1{
    color: green;
}
.Tijgerzin2{
    color: green;
}
.author-box{
    padding-top: 20px;
    border-top: 5px solid #808080;
}
.author-text{
    color: green;
}
.herder-text{
    color: green;
    padding-left: 250px;
}
.container{
    width: 1140px;
    margin: 20px auto 0 auto;
}
.BoxPagina{
    width: 1140px;
    margin: 20px auto 0 auto;
}
.Box1{
    padding: auto;
    background-color: yellow;
    float: left;
}
.Box2{
    padding: auto;
    background-color: red;
    float: center;
}
.Box3{
    padding: auto;
    background-color: blue;
    float: right;
}
.Box4{
    padding: 20 auto 20 auto;
    background-color: green;
    float: left;
}
.Box5{
    padding: auto;
    background-color: white;
    float: center;
}
.Box6{
    padding: auto;
    background-color: purple;
    float: right;
}
.Box7{
    padding: auto;
    background-color: grey;
    float: left;
}
.Box8{
    padding: auto;
    background-color: pink;
    float: center;
}
.Box9{
    padding: auto;
    background-color: orange;
    float: right;
}